[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=min0ru
WorkingDirectory=/home/min0ru/sites/DOMAIN
EnvironmentFile=/home/min0ru/sites/DOMAIN/.env

ExecStart=/home/min0ru/sites/DOMAIN/.venv/bin/gunicorn \
	--bind unix:/tmp/DOMAIN.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
